{% include "myfantasy/base.html" %}
<html>
	<body>
		<div id="message">
		{% if text %}
			<h1>{{ text }}{{ msg }}</h1>
		{% endif %}
		<form id="test_form" action="" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Submit"/>
		</form>
		
		</div>
	
	</body>
	
	
	
	<script type="text/javascript">
	$(document).on('submit', '#test_form', function(){
		$.ajax({ 
		    type: $(this).attr('method'), 
		    url: this.action, 
		    data: $(this).serialize(),
		    context: this,
		    success: function(data, status) {
		        $('#message').html(data);
		    }
		    });
		    return false;
		});
	</script>
</html>